---
import { getCategoryPermalink } from "@/lib/blog-entry-path";
import {
  getUrlFromArticleSource,
  type ArticleSource,
} from "@/models/ArticleSource";
import {
  getBlogCategoryDisplayName,
  type BlogCategory,
} from "@/models/BlogCategory";

export interface Props {
  source?: ArticleSource;
  category?: BlogCategory;
}

const { source, category }: Props = Astro.props;
const icon = (() => {
  switch (source) {
    case "GitHub":
    case "Gist":
      return "fab fa-github";
    case "Twitter":
      return "fab fa-twitter";
    case "Nicovideo":
      return "fas fa-film";
    default:
      return "fas fa-folder";
  }
})();
---

{
  source && (
    <a class="category" href={getUrlFromArticleSource(source)}>
      <i class={`${icon} fa-fw`} aria-hidden="true" />
      {source}
    </a>
  )
}
{
  category && (
    <a class="category" href={getCategoryPermalink(category)}>
      <i class="fas fa-folder fa-fw" aria-hidden="true" />
      {getBlogCategoryDisplayName(category)}
    </a>
  )
}
