---
import { getCollection } from "astro:content";
import { SITE_AUTHOR, SITE_TITLE } from "@/config";
import { getArticleSummaries } from "@/models/ArticleSummary";

Astro.response.headers.set(
  "Content-Type",
  "application/atom+xml; charset=utf-8"
);

const posts = await getArticleSummaries(await getCollection("updates"));
---

<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{SITE_TITLE}</title>
  <link href="/atom.xml" rel="self" />
  <link href={Astro.site} />
  <updated>2019-03-13T15:00:00.000Z</updated>
  <id>{Astro.site}</id>
  <author>
    <name>{SITE_AUTHOR}</name>
  </author>
  <generator uri="https://astro.build/">Astro</generator>
  {
    posts.map((post) => (
      <entry>
        <title>{post.title}</title>
        <link href={post.permalink} />
        <published>{post.date.toISOString()}</published>
        <summary>{post.summary}</summary>
      </entry>
    ))
  }
</feed>
