---
import Article from "@/components/Article.astro";
import DateTime from "@/components/DateTime.astro";
import { SITE_TITLE } from "@/config";
import Layout from "@/layouts/Layout.astro";
import {
  getBlogEntryPermalink,
  getCategoryPermalink,
} from "@/lib/blog-entry-path";
import { getArticleSourceFromUrl } from "@/models/ArticleSource";
import { getBlogCategoryDisplayName } from "@/models/BlogCategory";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Portrait from "./about/fumika.jpg";

const headlines = (await getCollection("headline"))
  .map((x) => ({
    title: x.data.title ?? "",
    date: x.data.date,
    permalink: x.data.href,
    source: x.data.href ? getArticleSourceFromUrl(x.data.href) : undefined,
    summary: x.body ?? "",
    path: x.data.path?.id,
    image: x.data.image,
  }))
  .toSorted((a, b) => b.date.valueOf() - a.date.valueOf());

const siteUpdates = (await getCollection("site"))
  .map((x) => ({
    title: x.data.title ?? "",
    category: x.id.split("/").slice(0, -1).join("/"),
    date: x.data.updated ?? x.data.date,
    permalink: `/${x.id}`,
  }))
  .map((x) => ({
    ...x,
    category: { name: x.category, path: `/${x.category}/` },
  }));
const blogUpdates = (await getCollection("blog")).map((x) => ({
  title: x.data.title ?? "",
  category: {
    name: getBlogCategoryDisplayName(x.data.category),
    path: getCategoryPermalink(x.data.category),
  },
  date: x.data.updated ?? x.data.date,
  permalink: getBlogEntryPermalink(x),
}));

const mergedUpdates = [...siteUpdates, ...blogUpdates]
  .toSorted((a, b) => b.date.valueOf() - a.date.valueOf())
  .slice(0, 5);

const columns = 3;
---

<Layout title={SITE_TITLE}>
  <main>
    <article class="profile">
      <Image
        class="portrait"
        src={Portrait}
        width={128}
        height={128}
        alt="mfakane"
      />
      <section>
        <h2>I'm @mfakane.</h2>
        <p>ミーフォ茜といいます。</p>
        <p>
          <a href="/about/">私について</a>
        </p>
      </section>
    </article>
    <article>
      <h2>更新情報</h2>
      <div class="showcase">
        {
          [...Array(columns)].map((_, column) => (
            <div class="showcase-column">
              {headlines
                .filter((_, i) => i % columns === column)
                .map((post) => (
                  <Article
                    date={post.date}
                    permalink={post.permalink}
                    source={post.source}
                    image={
                      typeof post.image === "string"
                        ? post.image
                        : post.image?.src
                    }
                  >
                    <h3 slot="title">
                      <a href={post.path ? post.path : post.permalink}>
                        {post.title}
                      </a>
                    </h3>
                    {post.permalink && (
                      <a slot="footer" href={post.permalink}>
                        詳細 →
                      </a>
                    )}
                    <Fragment set:html={post.summary} />
                  </Article>
                ))}
            </div>
          ))
        }
      </div>
    </article>
    <article>
      <h2>更新履歴</h2>
      <ul class="article-title-list">
        {
          mergedUpdates.map((update) => (
            <li class="article-title">
              <DateTime date={update.date} />
              <a class="title" href={update.permalink}>
                {update.title}
              </a>
              <a class="category" href={update.category.path}>
                <i class="fas fa-folder fa-fw" aria-hidden="true" />
                {update.category.name}
              </a>
            </li>
          ))
        }
      </ul>
    </article>
  </main>
</Layout>
