---
import Article from "@/components/Article.astro";
import { SITE_TITLE } from "@/config";
import Layout from "@/layouts/Layout.astro";
import { getArticleSourceFromUrl } from "@/models/ArticleSource";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Portrait from "./about/fumika.jpg";

const headlines = (await getCollection("headline"))
  .map((x) => ({
    title: x.data.title ?? "",
    date: x.data.date,
    permalink: x.data.href,
    source: x.data.href ? getArticleSourceFromUrl(x.data.href) : undefined,
    summary: x.body ?? "",
    path: x.data.path?.id,
    image: x.data.image,
  }))
  .sort((a, b) => b.date.valueOf() - a.date.valueOf());

const columns = 3;
---

<Layout title={SITE_TITLE}>
  <main>
    <article class="profile">
      <Image
        class="portrait"
        src={Portrait}
        width={128}
        height={128}
        alt="mfakane"
      />
      <section>
        <h2>I'm @mfakane.</h2>
        <p>ミーフォ茜といいます。</p>
        <p>
          <a href="/about/">私について</a>
        </p>
      </section>
    </article>
    <article>
      <h2>更新情報</h2>
      <div class="showcase">
        {
          [...Array(columns)].map((_, column) => (
            <div class="showcase-column">
              {headlines
                .filter((_: any, i: any) => i % columns === column)
                .map((post) => (
                  <Article
                    date={post.date}
                    permalink={post.permalink}
                    source={post.source}
                    image={
                      typeof post.image === "string"
                        ? post.image
                        : post.image?.src
                    }
                    set:html={post.summary}
                  >
                    <h3 slot="title">
                      <a href={post.path ? post.path : post.permalink}>
                        {post.title}
                      </a>
                    </h3>
                    {post.permalink && (
                      <a slot="footer" href={post.permalink}>
                        詳細 →
                      </a>
                    )}
                  </Article>
                ))}
            </div>
          ))
        }
      </div>
    </article>
  </main>
</Layout>
