---
import DateTime from "./DateTime.astro";
import ArticleHeaderCategory from "./Article/HeaderCategory.astro";
import ArticleHeaderTags from "./Article/HeaderTags.astro";
import type { ArticleSource } from "@/models/ArticleSource";

export interface Props {
  date?: Date | undefined;
  updated?: Date | undefined;
  permalink?: URL | undefined;
  source?: ArticleSource | undefined;
  tags?: readonly string[];
  image?: Image | undefined;
}

type Image = string | { title: string; text: string; };
type URL = string | { title: string; text: string; favicon: string; }

const { date, updated, permalink, source, tags, image } = Astro.props;
---

<article>
  <header class:list={{ "with-image": !!image }}>
    <div class="article-title">
      <slot name="title" />
      {
        date && (
          permalink ? (
            <a class="permalink" href={typeof permalink === "string" ? permalink : permalink.text}>
              <DateTime date={date} updated={updated} />
            </a>
          ) : (
            <DateTime date={date} updated={updated} />
          )
        )
      }
      {source && <ArticleHeaderCategory source={source} />}
      {tags && <ArticleHeaderTags tags={tags} />}
    </div>

    {typeof image === "string" && <img src={image} alt="" />}
    {typeof image === "object" && <img src={image.text} alt={image.title} />}
  </header>
  <div class="article-content">
    <slot />
  </div>
  {
    Astro.slots.has("footer") && (
      <footer>
        <slot name="footer" />
      </footer>
    )
  }
</article>
