---
import DateTime from "./DateTime.astro";
import ArticleHeaderCategory from "./Article/HeaderCategory.astro";
import ArticleHeaderTags from "./Article/HeaderTags.astro";
import type { ArticleSource } from "@/models/ArticleSource";

export interface Props {
  date?: Date | undefined;
  permalink?: string | undefined;
  source?: ArticleSource | undefined;
  tags?: readonly string[];
}

const { date, permalink, source, tags } = Astro.props;
---

<article class="article-title">
  {
    permalink ? (
      <a class="permalink" href={permalink}>
        <DateTime date={date} />
      </a>
    ) : (
      <DateTime date={date} />
    )
  }
  <slot name="title" />
  {source && <ArticleHeaderCategory category={source} />}
  {tags && <ArticleHeaderTags tags={tags} />}
</article>
