---
import type { ArticleSource } from "@/models/ArticleSource";
import ArticleHeaderCategory from "./Article/HeaderCategory.astro";
import ArticleHeaderTags from "./Article/HeaderTags.astro";
import DateTime from "./DateTime.astro";

export interface Props {
  date?: Date | undefined;
  permalink?: string | undefined;
  source?: ArticleSource | undefined;
  tags?: readonly string[];
}

const { date, permalink, source, tags }: Props = Astro.props;
---

<article class="article-title oneline">
  {
    date &&
      (permalink ? (
        <a class="permalink" href={permalink}>
          <DateTime date={date} />
        </a>
      ) : (
        <DateTime date={date} />
      ))
  }
  <slot name="title" />
  {source && <ArticleHeaderCategory source={source} />}
  {tags && <ArticleHeaderTags tags={tags} />}
</article>
