---
import DateTime from "./DateTime.astro";
import ArticleHeaderCategory from "./Article/HeaderCategory.astro";
import ArticleHeaderTags from "./Article/HeaderTags.astro";
import type { ArticleSource } from "@/models/ArticleSource";

export interface Props {
  title?: string | undefined;
  date?: Date | undefined;
  updated?: Date | undefined;
  permalink?: string | undefined;
  source?: ArticleSource | undefined;
  tags?: readonly string[];
}

const { title, date, updated, permalink, source, tags } = Astro.props;
---

<article>
  <header>
    {
      permalink ? (
        <a class="permalink" href={permalink}>
          <DateTime date={date} updated={updated} />
        </a>
      ) : (
        <DateTime date={date} updated={updated} />
      )
    }
    {
      title && permalink ? (
        <h1>
          <a href={permalink}>{title}</a>
        </h1>
      ) : (
        <h1>{title}</h1>
      )
    }
    {source && <ArticleHeaderCategory source={source} />}
    {tags && <ArticleHeaderTags tags={tags} />}
  </header>
  <div class="article-content">
    <slot />
  </div>
</article>
