---
import DateTime from "./DateTime.astro";
import ArticleHeaderCategory from "./Article/HeaderCategory.astro";
import ArticleHeaderTags from "./Article/HeaderTags.astro";
import type { ArticleSource } from "@/models/ArticleSource";

export interface Props {
  date?: Date | undefined;
  updated?: Date | undefined;
  permalink?: string | undefined;
  source?: ArticleSource | undefined;
  tags?: readonly string[];
}

const { date, updated, permalink, source, tags } = Astro.props;
---

<article>
  <header>
    {
      permalink ? (
        <a class="permalink" href={permalink}>
          <DateTime date={date} updated={updated} />
        </a>
      ) : (
        <DateTime date={date} updated={updated} />
      )
    }
    <slot name="title" />
    {source && <ArticleHeaderCategory source={source} />}
    {tags && <ArticleHeaderTags tags={tags} />}
  </header>
  <div class="article-content">
    <slot />
  </div>
  {
    Astro.slots.has("footer") && (
      <footer>
        <slot name="footer" />
      </footer>
    )
  }
</article>
