---
import type { ArticleSource } from "@/models/ArticleSource";
import type { BlogCategory } from "@/models/BlogCategory";
import ArticleHeaderCategory from "./Article/HeaderCategory.astro";
import ArticleHeaderTags from "./Article/HeaderTags.astro";
import DateTime from "./DateTime.astro";

export interface Props {
  date?: Date | undefined;
  updated?: Date | undefined;
  permalink?: URL | undefined;
  category?: BlogCategory | undefined;
  source?: ArticleSource | undefined;
  tags?: readonly string[] | undefined;
  image?: Image | undefined;
}

type Image = string | { title: string; text: string };
type URL = string | { title: string; text: string; favicon: string };

const { date, updated, permalink, category, source, tags, image }: Props =
  Astro.props;
---

<article>
  <header class:list={{ "with-image": !!image }}>
    <div class="article-title">
      <slot name="title" />
      {
        date &&
          (permalink ? (
            <a
              class="permalink"
              href={typeof permalink === "string" ? permalink : permalink.text}
            >
              <DateTime date={date} updated={updated} />
            </a>
          ) : (
            <DateTime date={date} updated={updated} />
          ))
      }
      {category && <ArticleHeaderCategory category={category} />}
      {source && <ArticleHeaderCategory source={source} />}
      {tags?.length ? <ArticleHeaderTags tags={tags} /> : undefined}
    </div>

    {typeof image === "string" && <img src={image} alt="" />}
    {typeof image === "object" && <img src={image.text} alt={image.title} />}
  </header>
  <div class="article-content">
    <slot />
  </div>
  {
    Astro.slots.has("footer") && (
      <footer>
        <slot name="footer" />
      </footer>
    )
  }
</article>
