---
import Article from "@/components/Article.astro";
import TableOfContents from "@/components/TableOfContents.astro";
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import Layout from "./Layout.astro";

export interface Props {
  entry: CollectionEntry<"blog">;
}

type MarkdownHeadingWithChildren = MarkdownHeading & {
  children: MarkdownHeadingWithChildren[];
};

const { entry }: Props = Astro.props;
const { Content, headings } = await render(entry);

const headingsWithChildren = headings.reduce<MarkdownHeadingWithChildren[]>(
  (acc, x) => {
    if (x.depth === 1) {
      acc.push({ ...x, children: [] });
    } else {
      const parent = acc[acc.length - 1];
      if (parent && x.depth > parent.depth) {
        parent.children.push({ ...x, children: [] });
      } else {
        acc.push({ ...x, children: [] });
      }
    }
    return acc;
  },
  [],
);
---

<Layout title={entry.data.title}>
  <main>
    <Article date={entry.data.date} updated={entry.data.updated}>
      <h1 slot="title">{entry.data.title}</h1>
      <Content />
    </Article>
  </main>
  {
    headingsWithChildren.length > 0 && (
      <aside>
        <div class="sticky">
          <section class="toc">
            <h2>Contents</h2>
            <TableOfContents items={headingsWithChildren} />
          </section>
        </div>
      </aside>
    )
  }
</Layout>
